body{
    background-color: rgb(233, 233, 233);
}

body .login-box{
    color: #b4b4c1;
    background-color: #3e3d83;
    width: 350px;
    height: 320px;
    border-radius: 8%;
    box-shadow: 10px 5px 30px black;
    float: unset;
}

body .login-box .head{
    width: 230px;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.105);
    margin-left: 60px;
}

body .login-box .head h1{
    padding-top: 15px;
}

body .login-box .body{
    text-align: center;
    width: inherit;
    height: 137px;
    padding-top: 60px;
}

body .login-box .body label{
    display: inline-block;
    width: 60px;
    text-align: left;
}

body .login-box .body input{
    margin-top: 15px;
    border: 0px solid;
    border-radius: 4%;
}

body .login-box .body input.excluir{
    margin-left: 15px;
}

@media only screen and (max-width: 700px) {
    body div.login-box{
        margin-top: 250px;
        margin-left: 120px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1280px) {
    body div.login-box{
        margin-top: 250px;
        margin-left: 300px;
    }
}

@media only screen and (min-width: 1281px) {
    body div.login-box{
        margin-top: 200px;
        margin-left: 550px;
    }
}