body{
    background-color: rgb(233, 233, 233);
}

body .login-box{
    color: #b4b4c1;
    background-color: #3e3d83;
    width: 350px;
    height: 320px;
    margin-top: 150px;
    margin-left: 35%;
    border-radius: 8%;
    box-shadow: 10px 5px 30px black;
    float: unset;
}

body .login-box .head{
    width: 230px;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.105);
    margin-left: 60px;
}

body .login-box .head h1{
    padding-top: 15px;
}

body .login-box .body{
    text-align: center;
    width: inherit;
    height: 137px;
    padding-top: 60px;
}

body .login-box .body label{
    display: inline-block;
    width: 60px;
    text-align: left;
}

body .login-box .body input{
    margin-top: 15px;
    border: 0px solid;
    border-radius: 4%;
}

body .login-box .body input.login{
    margin-left: 15px;
}

body .login-box .footer{
    width: 300px;
    height: 50px;
    margin-left: 25px;
    display: inline-block;
    border-top: 1px solid #97979717;
}

body .login-box .footer img{
    float: left;
    margin: 20px 0px 0px 80px;
}

body .login-box .cadastrese{
    float: right;
    margin: 28px 80px 10px 20px;
}

body .login-box .cadastrese:visited{
    color: #b4b4c1;
}

@media only screen and (max-width: 700px) {
    body div.login-box{
        margin-left: 15%;
    }
}

/* Aviso */
.aviso{
    background-color: rgb(255, 85, 0);
    width: 130px;
    height: 150px;
}